/* src/pages/Products.css */

.fall{
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
  }
  
h2{
  color: #6d4ebc;
}
  
  .product-card {
    margin-bottom: 1.5rem;
  }
  
  .product-card img {
    height: 200px;
    object-fit: cover;
  }
  