/* src/pages/ContactUs.css */
.contactus-container {
    min-height: 80vh;
  }
  
  .contactus-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #6d4ebc;
  }
  
  .contactus-form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contactus-form .form-group {
    margin-bottom: 1rem;
  }
  
  .contactus-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 1.5rem;
  }
  